@{
    Layout = null;
}

@model WebApplication4.Models.MyCostumer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCostumer</title>
</head>
<body>
    <div>
    Roll No = @Model.RollNo   <br />
    Name    = @Model.name   <br />
    Class   = @Model.Class  <br />
    Address = @Model.Address  <br />
    </div>
</body>
</html>
